<div class="jumbotron">
  <div class="container text-center">
    <h1>Customer Support Ticketing System</h1>
    </br>
    <%= link_to "Sign In", new_user_session_path,
      class: "btn btn-lg btn-primary" %>
  </div>
</div>
