<div class="container">
  <div class="page-header">
    <h2>Edit Ticket</h2>
  </div>
  <%= simple_form_for @ticket do |f| %>
    <%= f.input :content, label: "Ticket", input_html: { rows: "10" } %>
    <%= f.button :submit, id: "update-ticket-button", class: "btn btn-warning" %>
  <% end %>
</div>
