<h1>Tickets</h1>
<div>
  <% @tickets.each do |ticket| %>
    <p><%= link_to "Ticket #{ticket.id}", ticket,
      id: "ticket-#{ticket.id}"%></p>
  <% end %>
</div>
<%= link_to "Create Ticket", new_ticket_path, id: "create-new-ticket-button",
  class: "btn btn-primary" %>
